.customer-table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-table th, .customer-table td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.customer-table thead th {
	background-color: black;
	color: white;
}

.customer-table tbody tr:hover {
	background-color: #f9f9f9;
}

.customer-table-container {
	overflow-x: auto;
	margin-top: 20px;
}
